<!--Hero-->
<section id="hero" class="hero is-medium">
    <%= render "layouts/nav" %>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <aside class="menu box">
                        <p class="menu-label">
                            Mes informations
                        </p>
                        <ul class="menu-list">
                            <li><a>Mon profile</a></li>
                            <li><a>Mes demandes</a></li>
                        </ul>
                        <p class="menu-label">
                            Mes classes
                        </p>
                        <ul class="menu-list">
                            <li><a>Terminal L1</a></li>
                            <li><a>Terminal L2</a></li>
                        </ul>
                    </aside>

                </div>

                <div class="column is-9 box">
                    <section class="info-tiles">
                        <div class="tile is-ancestor has-text-centered">
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">4</p>
                                    <p class="subtitle">Classes</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">120</p>
                                    <p class="subtitle">Eleves</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">2</p>
                                    <p class="subtitle">Matières</p>
                                </article>
                            </div>
                            <div class="tile is-parent">
                                <article class="tile is-child box">
                                    <p class="title">6</p>
                                    <p class="subtitle">Evaluations</p>
                                </article>
                            </div>
                        </div>
                    </section>
                    <section>

                        <table class="table">
                            <thead>
                                <tr>
                                    <th><abbr title="Position">Id</abbr></th>
                                    <th>Classes</th>
                                    <th>Libelle</th>
                                    <th>Description</th>
                                    <th>Actions</th>
                                    
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr>
                                    <th>1</th>
                                    <td><strong>Français</strong>
                                    </td>
                                    <td></td>
                                    <td></td>
                                    </tr>

                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</section>