<!--Hero-->
<section id="hero" class="hero is-medium">
    <%= render "layouts/nav" %>
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <aside class="menu box">
                        <p class="menu-label">
                            Mes informations
                        </p>
                        <ul class="menu-list">
                            <li><a>Mon profile</a></li>
                            <li><a>Mes absences</a></li>
                        </ul>
                        <p class="menu-label">
                            Mes evaluations
                        </p>
                        <ul class="menu-list">
                            <li><a>Semestre 1</a></li>
                            <li><a>Semestre 2</a></li>
                        </ul>
                    </aside>

                </div>

                <div class="column is-9 box">
                <section class="info-tiles">
                    <div class="tile is-ancestor has-text-centered">
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">4</p>
                                <p class="subtitle">Absences</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">10</p>
                                <p class="subtitle">Retards</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">2</p>
                                <p class="subtitle">Evaluations</p>
                            </article>
                        </div>
                        <div class="tile is-parent">
                            <article class="tile is-child box">
                                <p class="title">6</p>
                                <p class="subtitle">Matières</p>
                            </article>
                        </div>
                    </div>
                </section>
                </div>
            </div>
        </div>
    </div>
</section>